:root {
    background: black;
}

.score {
    font-size: large;
    color: white;
    align-items: flex-end;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display:flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

h1 {
    color:ghostwhite;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.btn {
    display:flex;
    margin-bottom: 10px;
    width: 100%;
    background:deeppink;
    font-size: 3rem;
    border-radius: 4px;
    min-width: 80rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:ghostwhite;
}

.correct {
    background: linear-gradient(32deg, rgba(11,223, 36) 0%, rgb(41, 232, 111) 100%)
}
.incorrect {
    background: linear-gradient(32deg, rgb(231, 2, 2) 0%, rgb(252, 6, 6) 100%)
}
.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(rgb(238, 9, 169), green, blue, alpha);
    transition: transform 150ms;
    transform: scale(1.03);
}

/* heads up display */

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width:20rem;
    height:3rem;
    border: .2rem solid rgb(238, 9, 169);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height:100%;
    background: rgb(238, 9, 169);
    width: 0%;
}